data/MetroPT3_AirCompressor_.csv

data/features_aggregated.csv

models/
*.pkl

catboost_info/

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

.ipynb_checkpoints/

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db
